body {
    position: relative;
    font: 16px/1.6 'r', Arial, sans-serif;
    z-index: 0;
    overflow-x: hidden;
    height: 1000px;
}

a {
    color: #0091FE;
    text-decoration: none;
}

input, select, button {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'r';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-thumb {
    background: #FFC628;
}

@font-face {
    font-family: 'b';
    src: url('../assets/font/subset-TTCommons-DemiBold.woff2') format('woff2'),
        url('../assets/font/subset-TTCommons-DemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm';
    src: url('../assets/font/subset-TTCommons-Medium.woff2') format('woff2'),
        url('../assets/font/subset-TTCommons-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'r';
    src: url('../assets/font/subset-TTCommons-Regular.woff2') format('woff2'),
        url('../assets/font/subset-TTCommons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'h';
    src: url('../assets/font/subset-TTFirsNeue-Medium.woff2') format('woff2'),
        url('../assets/font/subset-TTFirsNeue-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Message box */
.trigger {
    position: fixed;
    bottom: 0px;
    right: 0px;
    box-sizing: border-box;
    padding: 0 30px 30px 0;
    z-index: 3;
}

/* Message inner */
.message_inner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: none;
}
.message_inner.active::after{
    background-color: rgba(0,0,0,0.5);
}
.message_inner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    display: block;
    content: "";
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
}

.message_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.message_item {
    position: relative;
    z-index: 2;
    width: 100%;
    display: none;
    transition: all 0.3s cubic-bezier(.52, .01, .16, 1);
    opacity: 0;
    top: 50px;
}

.message_item[data-modal='feedback'] {
    max-width: 685px;
    margin: 0 auto;
}

.message_item.active {
    display: block;
}

.message_item.show {
    opacity: 1;
    top: 0px;
}

.message_form {
    position: relative;
    max-width: 685px;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    padding: 40px 10px 0 10px;
    height: 83vh;
}

.message_scroll {
    height: 80vh;
    overflow-y: auto;
}

.message_nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.close_msg {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 435px;
    top: 40px;
    background: url(../assets/image/close.svg) no-repeat center;
    display: block;
    z-index: 4;
}

.message_content {
    position: relative;
    z-index: 2;
}

.message_content b {
    font-family: 'b';
    font-size: 25px;
    display: block;
    text-align: center;
}

.fs_inner {
    max-width: 600px;
    margin: 0 auto;
}
.form_triple {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    margin: 0px 0px 20px 0;
}
.switch_form {
    overflow: hidden;
}

.form_item {
    position: relative;
}

.form_triple .form_item {
    border-right: 1px solid #ECECEC;
    width: 100%;
    box-sizing: border-box;
}

.form_triple input {
    border: none;
}

.switch_form input {
    display: none;
}

.form_item input, .form_item select {
    height: 65px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #ECECEC;
    width: 100%;
    border-radius: 10px;
}

.switch_form span {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    height: 65px;
    box-sizing: border-box;
}

.switch_form input[type=radio]:checked~span{
    background: #FFC628;
}

.form_line {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 20px;
}

.form_file {
    position: relative;
    width: 100%;
    height: 65px;
}

.form_file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.form_file_select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-sizing: border-box;
}

.ff_upload {
    background: url(../assets/image/upload.svg) no-repeat center left;
    font-size: 18px;
    font-family: 'm';
    color: #0091FE;
    padding: 5px 0 0 27px;
    margin: 14px 0;
    display: inline-block;
}

.form_item textarea {
    font-size: 18px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ECECEC;
    width: 100%;
    border-radius: 10px;
    resize: none;
    font-family: 'r';
    height: 100px;
}

.fs_bottom {
    border-top: 1px solid #ECECEC;
    padding: 30px 0;
}

.fs_bottom .fs_inner {
    display: flex;
    justify-content: space-between;
}

.fs_bottom .yelo_bttn {
    width: 33.333%;
    height: 65px;
    border: none;
}

.yelo_bttn {
    height: 55px;
    border-radius: 10px;
    color: black;
    font-family: 'b';
    font-size: 18px;
    text-align: center;
    padding: 13px 25px;
    box-sizing: border-box;
    display: inline-block;
    background: #FFC628;
    cursor: pointer;
}
/* Search section */

.search_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
}

.search_self {
    background: white;
    height: 100px;
    width: 100%;
    position: relative;
    top: 0px;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
}


.search_section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.search_section input {
    width: 100%;
    display: block;
    padding: 32px 140px 35px 0;
    font-size: 25px;
    border: none;
}

.search_section button {
    background: url(../assets/image/search_header.svg) no-repeat center #FFFFFF;
    background-size: 24px;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 70px;
    display: block;
    opacity: 0.40;
    border: none;
}

.close_search {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 20px;
    display: block;
    background: url(../assets/image/menu_toggle_close.svg) no-repeat center #FFFFFF;
    background-size: 20px;
}

/* Header section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

.header_top {
    height: 45px;
    background: white;
    border-bottom: 1px solid #ECECEC;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    overflow: hidden;
}

.header_top.lang {
    overflow: visible;
}

.header_wrap {
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
}

.left_content li {
    display: inline-block;
    margin: 0 15px 0 0;
}


.left_content a {
    color: rgba(0,0,0,0.5);
    display: block;
    padding: 10px 7px;
    position: relative;
    box-sizing: border-box;
}

.left_content a {
    color: rgba(0,0,0,0.5);
    display: block;
    padding: 10px 7px;
    position: relative;
    box-sizing: border-box;
}

.active {
    color: black!important;
    font-weight: bold;
}

.rc-location {
    color: rgba(0,0,0,0.5);
    padding: 0 0 0 25px;
}

.right_content li.r-search, .right_content li.r-langselect {
    margin: 0 0 0 10px;
}

.lang_select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.active_lang {
    color: rgba(0,0,0,0.5);
    background: url(../assets/image/active_lang.svg) no-repeat right center;
    padding: 5px 15px 0 0;
}

.select_box {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.17);
    text-align: left;
    z-index: 9;
    transform-origin: left top;
    transform: scale(0);
    opacity: 0;
    transition: all 0.2s cubic-bezier(1.000, 0.000, 0.000, 1.000);
    visibility: hidden;
    border-radius: 5px;
    padding: 10px 0;
}

.lang_select .select_box {
    transform-origin: right top;
    left: auto;
    right: 0px;
}

.select_box.open_select {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.right_content .select_box li {
    padding: 0px;
    margin: 0px;
    display: block;
}

.select_box li a {
    padding: 0 20px;
    color: rgba(0,0,0,0.5);
    display: block;
    white-space: nowrap;
}

.select_box li a.active {
    color: black;
}

.right_content li {
    display: inline-block;
    margin: 0 0 0 30px;
    vertical-align: middle;
    
}

.left_content a:hover::after, .left_content a.active::after {
    opacity: 1;
}

.left_content a::after {
    display: block;
    content: '';
    height: 3px;
    width: 100%;
    background: #FFC628;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-out;
}

.right_content {
    padding: 10px 0;
}

.head_core {
    padding: 18px 0;
    background: white;
}

.head_wrap {
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
}

.logo_side {
    padding: 10px 0;
}

.logo {
    display: block;
    width: 144px;
    height: 36px;
    background: url(../assets/image/logo.svg) no-repeat center;
}

.head_core nav {
    width: 100%;
    padding: 0 40px;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    opacity: 1;
    visibility: visible;
}

.head_core nav li {
    display: inline-block;
    margin: 0 30px 0 0;
}

.head_core nav a {
    font-family: 'm';
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    padding: 14px 0;
    display: block;
    position: relative;
}

.head_core nav a::after {
    display: block;
    content: '';
    height: 3px;
    width: 0%;
    background: black;
    bottom: 15px;
    left: 0px;
    position: absolute;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
}

.head_core nav a:hover::after, .head_core nav a.active::after {
    width: 100%;
    }

.head_right {
    display: flex;
}

.head_adds {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

.open_menu .head_adds {
    visibility: visible;
    height: auto;
    max-height: calc(100vh - 140px);
    overflow-y: scroll;
}

.sub_menu_wrap {
    padding: 0 20px 0;
    transition: all 0.4s cubic-bezier(.52, .01, .16, 1);
    overflow: hidden;
    opacity: 0;
}

.open_menu .sub_menu_wrap {
    padding: 10px 20px 50px;
    opacity: 1;
}

.menu_left {
    width: calc(100% - 345px);
    box-sizing: border-box;
    padding: 0 30px 0 0;
}

.mob_only {
    display: block;
}

.message_trigger {
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background: url(../assets/image/message_trigger.svg) no-repeat calc(100% - 14px) 50% #FFC628;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.52, .01, .16, 1);
}

.message_trigger:hover {
    width: 133px;
}

.message_trigger span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 58px;
    top: 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 58px;
}

.message_trigger.for_mobile {
    display: none;
    width: 45px !important;
    height: 45px !important;
    margin: 0 10px 0 0;
    background: url(../assets/image/message_trigger.svg) no-repeat 50% #FFC628;
    background-size: 24px;
}

.exp_nav {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 10px;
}

.exp_nav_item:nth-child(1) {
    grid-row-end: span 1;
}

.exp_nav_item .m_nav {
    font-family: 'm';
    font-size: 27px;
    color: #000000;
    display: block;
    margin: 0 0 5px 0;
}

.exp_nav_item li {
    margin: 0 0 5px 0;
}

.exp_nav_item li a {
    color: rgba(0,0,0,0.5);
}

.menu_adds ul {
    display: none;
}

.menu_left .contact_info {
    padding: 25px 0 0 0;
    border-top: 1px solid #ECECEC;
    margin: 15px 0 0 2px;
}

.menu_right {
    width: 345px;
    height: 345px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.o_banking {
    height: 55px;
    background: #FFC628;
    padding: 9px 25px;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'm';
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    width: 175px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
}

.o_banking.hide {
    width: 55px;
    padding: 9px 22px;
}

.o_banking span {
    background: url(../assets/image/o_banking.svg) no-repeat left center;
    padding: 5px 0 2px 25px;
    display: block;
    color: black;
}

.o_banking.hide span {
    color: #FFC628;
}

.menu_toggle {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 100%;
    box-sizing: border-box;
    margin: 0 0 0 10px;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    background: url(../assets/image/menu_toggle.svg) no-repeat center #FFFFFF;
}

.open_menu .menu_toggle {
    background: url(../assets/image/menu_toggle_close.svg) no-repeat center #FFFFFF;
}

.content_page {
    padding: 150px 0 0 0;
}

.main_content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.content_title {
    text-align: center;
    margin: 0 auto 50px auto;
    max-width: 1100px;
    position: relative;
}

.content_title h1 {
    font-size: 54px;
    font-family: 'h';
}

.content_title p {
    font-size: 22px;
    color: rgba(0,0,0,0.5);
    line-height: 30px;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 0 20px;
    text-align: center;
}

.content_list {
    padding: 0 0 40px 0;
}

.content_item {
    border: 1px solid #ECECEC;
    border-radius: 10px;
    width: 100%;
    position: relative;
    margin: 0 0 45px 0;
}

.yelo_bg {
    background: url(../assets/image/yelo_block.svg) no-repeat 117%;
    background-size: contain;
}

.desc {
    padding: 45px 40px 45px 60px;
    box-sizing: border-box;
    width: calc(100% - 475px);
}

.desc_b {
    padding: 0 0 10px;
    font-family: 'h';
    font-size: 34px;
    line-height: 40px;
}

.desc_p {
    font-size: 18px;
    line-height: 20px;
    color: rgba(0,0,0,0.5);
}

.desc_spec {
    display: flex;
    padding: 40px 0 50px 0;
}

.desc_spec_items {
    margin: 0 40px 0 0;
}

.desc_spec_items p {
    color: rgba(0,0,0,0.5);
    line-height: 16px;
    margin: 0 0 5px 0;
}

.desc_spec_items b {
    font-size: 21px;
    font-family: 'm';
    line-height: 26px;
}

.desc ul {
    display: flex;
    justify-content: flex-start;
}

.btnBasket {
    height: 60px;
    color: white;
    font-size: 20px;
    font-family: 'b';
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    text-align: center;
}

.btnBasket span {
    position: relative;
    z-index: 1;
}

.desc .btnBasket {
    width: 225px;
    margin: 0px 20px 0 14px;
}

.btnBasket::after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skew(-14deg, 0);
    background: black;
    display: block;
    content: '';
}

.bl_arr_bttn{
    height: 60px;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    font-family: 'b';
    color: black;
}

.desc .bl_arr_bttn {
    opacity: 0.5;
    transition: all 0.2s ease-out;
}

.bl_arr_bttn span {
    background: url(../assets/image/bl_arr_bttn.svg) no-repeat right center;
    display: block;
    padding: 0 45px 0 0;
}

.desc .bl_arr_bttn:hover {
    opacity: 1;
}

.image {
    position: absolute;
    top: 20px;
    right: 135px;
}

.card_atv{
    width: 210px;
    height: 333px;
}

.atvImg {
    border-radius: 15px;
    transform-style: preserve-3d;
}
.atvImg img {
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.imgRotate:hover{
    transform: rotate3d(1, 1, 1, 45deg);
    transition: ease-in-out 1s;
}

.imgRotate{
    transition: 1s ease-in-out;
}

img {
    border: 0;
    width: 100%;
}


/* Media Query */
@media screen and (max-width: 1000px){
    .left_content li {
        margin: 0 5px 0 0;
    }

    .left_content a {
        padding: 10px 7px 11px;
        font-size: 14px;
    }

    .right_content ul {
        display: flex;
    }

    .right_content li.r-location {
        display: none;
    }

    .right_content li.r-randevu {
        display: none;
    }

    .right_content li {
        display: block;
        margin: 0 0 0 10px;
    }

    .head_core {
        padding: 10px 0;
    }

    .logo_side {
        padding: 5px 0;
    }

    .logo {
        width: 94px;
        height: 36px;
        background-size: contain;
    }

    .trigger {
        display: none;
    }

    .message_trigger.for_mobile {
        display: block;
    }

    .close_msg {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: whitesmoke;
    }

    .head_core nav {
        display: none;
    }

    .sub_menu_wrap {
        display: block;
        height: calc(100vh - 150px);
        overflow-x: scroll;
        overflow: auto;
    }

    .open_menu .sub_menu_wrap {
        padding: 20px;
    }

    .menu_left {
        width: 100%;
        padding: 0 0 100px 0;
    }

    .mob_only {
        display: block;
    }

    .menu_adds {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #ECECEC;
        margin: 0 0 20px 0;
    }

    .menu_adds ul {
        display: flex;
        justify-content: space-between;
    }
    
    .menu_adds li {
        width: 50%;
        text-align: center;
        font-size: 18px;
    }

    .menu_adds li:first-child {
        border-right: 1px solid #ECECEC;
    }

    .menu_adds li a {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 0;
        background: none;
        text-align: center;
    }

    .exp_nav {
        display: block;
    }

    .exp_nav_item .m_nav {
        font-size: 22px;
        margin: 0px;
    }

    .exp_nav_item {
        padding: 0 0 20px 0;
    }

    .exp_nav_item:nth-child(1) {
        grid-row-end: span 2;
    }

    .exp_nav_item li {
        margin: 0px;
        font-size: 18px;
    }

    .menu_adds ul {
        display: flex;
    }

    .mobile_icon {
        /* width: 20px; */
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }

    .menu_adds li a {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 0;
        background: none;
        text-align: center;
    }

    .menu_adds li a p {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        margin-top: -3px;
    }

    .menu_left .contact_info {
        display: none;
    }

    .o_banking {
        width: 45px;
        height: 45px;
        padding: 4px 16px;
        border: 1px solid rgba(0,0,0,0.10);
    }

    .o_banking.hide {
        width: 45px;
        padding: 4px 16px;
    }

    .o_banking span {
        color: #FFC628;
    }

    .menu_toggle {
        height: 45px;
        width: 45px;
    }

    .main_content {
        padding: 0 15px;
    }

    .content_title h1 {
        font-size: 20px;
    }

    .content_title p {
        font-size: 16px;
        line-height: 20px;
    }

    .content_title {
        padding: 0 15px;
        margin: 0 auto 20px;
    }

    .content_list {
        padding: 15px 0 0 0;
    }

    .content_item {
        margin: 0 0 15px 0;
        background: none;
    }

    .yelo_bg {
        background: url(../assets/image/yelo_block.svg) no-repeat 190px 0px;
        background-size: auto 280px;
        background-color: #f1f1f1;
    }

    .desc {
        padding: 20px;
        background: white;
        margin: 160px 0 0 0;
        position: relative;
        z-index: 2;
        width: 100%;
    }

    .desc_b {
        font-size: 20px;
        line-height: 25px;
    }

    .desc_p {
        font-size: 16px;
        line-height: 20px;
    }

    .desc_spec {
        padding: 20px 0;
        display: block;
    }

    .desc_spec_items p {
        font-size: 16px;
        line-height: normal;
        margin: 0;
    }

    .desc_spec_items b {
        font-size: 18px;
        font-family: 'm';
        line-height: 26px;
    }

    .desc ul {
        display: block;
    }

    .btnBasket::after {
        transform: skew(0deg, 0);
        border-radius: 6px;
    }

    .btnBasket {
        width: 100%;
        margin: 0;
    }

    .desc ul li, .desc ul li a {
        width: 100%;
        text-align: center;
    }

    .bl_arr_bttn {
    height: auto;
    padding: 13px 20px;
    font-size: 16px;
    text-align: center;
    }

    .bl_arr_bttn span {
        background: url(../assets/image/bl_arr_bttn.svg) no-repeat right center;
        display: inline-block;
        padding: 0 30px 0 0;
        background-size: 20px;
    }

    .card_atv{
        width: 120px;
        height: auto;
        margin: 0 auto;
    }

    .atvImg img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 22px 28px rgba(0,0,0,0.15);
    }

    .image {
        position: absolute;
        top: 15px;
        left: 0px;
        width: 100%;
    }

    .content_list[data-tabs-content="filter_cards"] .desc {
        margin: 220px 0 0 0;
    }   
}

@media screen and (max-width: 480px){
    .app_mobile {
        display: block;
    }
}

@media screen and (max-width: 320px){
    .right_content li.r-randevu {
        display: none;
    }

    .right_content li.r-call {
        display: none;
    }

    .story_image {
        margin-top: -46px;
    }
}