<footer class="footer">
    <div class="main_wrap">
        <div class="foot_top">
            <ul class="sosial">
                <li><a href="#" style="background-image: url(/static/assets/image/f.svg);"></a></li>
                <li><a href="#" style="background-image: url(/static/assets/image/i.svg);"></a></li>
                <li><a href="#" style="background-image: url(/static/assets/image/l.svg);"></a></li>
                <li><a href="#" style="background-image: url(/static/assets/image/y.svg);"></a></li>
                <li><a href="#" style="background-image: url(/static/assets/image/t.svg);"></a></li>
            </ul>

            <div class="app_mobile">
                <ul>
                    <li><a href="#" class="store apple">
                            <div>
                                <span>Yüklə</span>
                                <p>App Store</p>
                            </div>
                        </a></li>
                    <li><a href="#" class="store google_play">
                            <div>
                                <span>Yüklə</span>
                                <p>Google Play</p>
                            </div>
                        </a></li>
                </ul>
            </div>

            <div class="contact_info">
                <div class="info_item">
                    <p>Bizi tap</p>
                    <b>Puşkin küçəsi 30, Bakı AZ 1010, Azərbaycan</b>
                </div>
                <div class="info_item">
                    <p>Əlaqə nömrəsi</p>
                    <b>012 981</b>
                </div>
                <div class="info_item">
                    <p>Bizə yazın</p>
                    <b><a href="">bank@yelo.az</a></b>
                </div>
            </div>
        </div>
        <div class="foot_bottom">
            <a href="" class="logo"></a>
            <ul>
                <li>
                    <p>© 2021 Yelo Bank</p>
                </li>
                <li><a href="https://www.e-gov.az" target="_blank">E-portal</a></li>
                <li><a href="https://www.adif.az" target="_blank">ADİF</a></li>
                <li><a href="https://infobank.az" target="_blank">infobank.az</a></li>
                <li><a href="https://gpp.az/WebPortal/Infosite/Sc/989100/Category/8" target="_blank">AR Silahlı
                        qüvvələrinə yardım fondu</a></li>
                <li><a href="https://gpp.az/WebPortal/Infosite/Sc/989000/Category/8" target="_blank">YAŞAT Fondu</a>
                </li>
            </ul>
            <div class="by_tanius">
                <p>Site by</p>
                <a href="" class="tanius">Tanis-TechAcademy</a>
            </div>
        </div>
    </div>
</footer>